<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Books API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>

    <h2>Routes</h2>
    <p>All HTTP methods are supported. You can use http or https for your requests.</p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td><a href="https://book-apiget.herokuapp.com/api/books">/api/books</a></td>
            </tr>
            <tr>
                <td>GET</td>
                <td><a href="https://book-apiget.herokuapp.com/api/books/1">/api/books/"book_id"</a></td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/api/books</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/api/books/"book_id"</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/api/books/"book_id"</td>
            </tr>
        </tbody>
    </table>

</body>

</html>